<!-- Criação do formulario para obtenção de dados -->
<div class="container">
    <div class="col-md-12">
        <h3>{{ titleComp }}</h3>
            
        <div class="form-group">
            <input type="text"[(ngModel)] = "studentUpdateData.name" placeholder="Informe seu nome" class="form-control"/>
        </div>   
        
        <div class="form-group">
            <input type="number" [(ngModel)] = "studentUpdateData.age" placeholder="Sua idade" class="form-control"/>
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)] = "studentUpdateData.gender" placeholder="Seu genero" class="form-control"/>
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg" (click) = " upStudentRegister()">
                Salvar Registro
            </button>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary btn-sm" routerLink= "/student-list">
               Voltar lista Estudante
            </button>
        </div>
    </div>
</div>

